@import "../../sass/main.scss";

.loader {
  width: 3rem;
  height: 3rem;
  border: 1px solid transparent;
  border-radius: 50%;
  border-top: 1px solid $color-green;
  animation: rotate 1s infinite linear;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}